
.select_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background: url(/public/statbar-img.jpg) no-repeat center center/cover;
}

.form_box_select {
    position: relative;
    width: 400px;
    padding: 20px;
    /* background: rgba(255, 255, 255, 0.1); */
    /* background: var(--main-color); */
    background:rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(15px) brightness(80%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_box_select h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

/* .form_value {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form_value label {
    color: #fff;
    margin-bottom: 5px;
}

.form_value input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
} */

.buttons_select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
}


.buttons_select .submit {
    align-items: center;
    width: 100%;
    height:50px;
    /* padding: 10px; */
    border-radius: 10px;
    background-color: #ffffffc5;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
    padding:5px;
    margin: 10px 0;
}

.submit:hover {
    background-color: var(--main-color);
    transform: scale(1.05);
    color: white;
}

.submit:focus {
    outline: 2px solid #444;
}

.buttons_select span {
    color: #fff;
    font-size: 1em;
    font-weight: 600;
}
